apiVersion: batch/v1
kind: Job
metadata:
  name: arc-webhook-job
spec:
  template:
    spec:
      imagePullSecrets:
      - name: {{ model.imagePullSecret }}
      containers:
      - name: bootstrapper
        image: {{ model.bootstrapper }}
        command: ["/opt/webhook/webhook-job.sh",  "{{ model.namespace }}"]
      restartPolicy: Never
      serviceAccountName: sa-arc-webhook-job
  backoffLimit: 4
