apiVersion: batch/v1
kind: Job
metadata:
  name: {{ model.jobName }}
spec:
  template:
    spec:
      imagePullSecrets:
      - name: {{ model.imagePullSecret }}
      containers:
      - name: bootstrapper
        image: {{ model.bootstrapper }}
        imagePullPolicy: {{ model.imagePullPolicy }}
        command: ["/opt/bootstrapper/bin/bootstrapper"]
        args: ["-image", "{{ model.bootstrapper }}", "-policy", "{{ model.imagePullPolicy }}", "-chart", "/opt/helm/arcdataservices", "-bootstrap"]
      restartPolicy: Never
      serviceAccountName: {{ model.serviceAccountName }}
  backoffLimit: 0
